name: CD

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 18

jobs:
  ci:
    name: Run CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  deploy:
    needs:
      - ci

    name: Deploy

    runs-on: ubuntu-latest

    steps:
      - name: Download Build
        uses: actions/download-artifact@v6
        with:
          name: Website

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
